@import "../../vars";

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 75vw;
  height: calc(75 / 16 * 9vw);
}

.avatar {
  border-radius: 50%;
  width: 64px;
}

.gray {
  color: $grey;
}

.watch {
  &-video {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  &-under {
    margin-top: 2rem;
  }

  &-channel {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  &-info {
    padding: 0 2rem;
  }

  &-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

.description {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &-title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

svg {
  width: 24px;
}

.short {
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
}

.likes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
